<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/static/css/bootstrap.css' />
    <link rel='stylesheet' href='/static/css/bootstrap-responsive.css' />
    <link rel='stylesheet' href='/static/css/style.css' />
  </head>
  <body>

  	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Micro-Blog</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <% if (!user) { %>
                  <li><a href="#login">Login</a></li>
                  <li><a href="#regist">Regist</a></li>
              <% }else{ %>
                  <li><a href="#logout">Logout</a></li>
              <% } %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
		<div class="hero-unit">
	        <h1><%= title %> Micro-Blog</h1>
	        <p>Welcome to <%= title %></p>
	        <p><a href="#" class="btn btn-primary btn-large">登入</a><a href="#" class="btn btn-large">立即注册</a></p>
	    </div>

	    <div class="row">
	        <div class="span4">
	          <h2>Heading</h2>
	          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	          <p><a class="btn" href="#">View details &raquo;</a></p>
	        </div>
	        <div class="span4">
	          <h2>Heading</h2>
	          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	          <p><a class="btn" href="#">View details &raquo;</a></p>
	        </div>
	        <div class="span4">
	          <h2>Heading</h2>
	          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	          <p><a class="btn" href="#">View details &raquo;</a></p>
	        </div>
	    </div>

	    <footer>
	        <p>&copy; Company 2013</p>
	    </footer>


    </div>
  </body>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>
</html>
